{{#unless this.topic.editingTopic}}
  {{#if this.siteSettings.topic_heuristic_value_enabled}}
    {{#if this.isAllowedCategory}}
      <span>{{i18n
          "topic_heuristic_value.label"
          field=this.fieldName
          value=this.fieldValue
      }}</span>
    {{/if}}
  {{/if}}
{{/unless}}